

<p>
  <%= comment.body %><br>
  posted by: <%= comment.user.username %></br>
  <% if @user %>
    <%=link_to image_tag("http://icons.iconarchive.com/icons/rokey/the-blacy/128/black-heart-icon.png", width: 30), {controller: "comment_scores", action: "create", comment_id: comment.id, comment_score: {comment_id: comment.id, user_id: @user.id}}, method: 'post'%> 
  <% end %>
   </br>
  <%=comment.comment_scores.count%> &#x2764;'s
</p>

  <%= render partial: "comments/commentable", locals: { comment: comment } %>

<p>
  <%= link_to 'Delete', [comment.topic, comment],
                method: :delete,
                data: { confirm: 'Are you sure?' } %>
</p>

<div class="addTag">
  <%= render partial: "tags/comment_form", locals: { comment: comment } %>
  <%= render partial: "tagations/comment_form", locals: { comment: comment } %>

</div>
<div class="clear"></div>

<% unless comment.comments.empty? %>
 <% comment.comments.each do |comment| %>
  <%= render partial: "comments/comment2", locals: { comment: comment } %>
 <% end %>
<% end %>


