<div class="container">
	<div class="left">

		<h4>Popular |</h4> <h4> Controversial |</h4><h4> Recent </h4>

		<% @topics.each do |topic| %>
 			 <ul>

   				 <div class="topic"><li><%= link_to "#{topic.title}", topic %></li><br>
   				 	<li>posted by: <%= topic.user.username %></li><br>
   				 	<% if @user %>
   				 	<%=link_to image_tag("http://icons.iconarchive.com/icons/rokey/the-blacy/128/black-heart-icon.png", width: 30), {controller: "scores", action: "create", topic_id: topic.id, score: {topic_id: topic.id, user_id: @user.id}}, method: 'post'%>
   				 	<% end %>
   				  </br>
   				 	 <%=topic.scores.count%> &#x2764;'s


 			<div class="tags">
				<% taglist = topic.tags.dup %>
				<% topic.comments.each do |comment| %>
				  <% taglist += comment.tags %>
				<% end %>
				<br><hr><br>
				<ul class="taglist">
				  <li class="tag">Tags: </li>
				  <% taglist.uniq.each do |tag| %>
				  <% unless tag.id == nil %>
				   <li class ="tag"> <%= link_to tag.subject, tag %> </li>
				  <% end %>
		  	 <% end %>
        </ul>
 			</div>

 </div>
 			</ul>
		<% end %>
		<div class="pagination"></div>
	</div>
	<div class="right">
		<br>
		<div class="topic">
			<h1>Have a question? Create a topic.</h1><br>
			<%= form_for @topic do |f| %>
				<p>
	  			<%= f.label :title %><br>
	  			<%= f.text_field :title %>
				</p>
				<p>
	  			<%= f.label :body %><br>
	  			<%= f.text_area :body %>
				</p>
				<p>
	  			<%= f.submit %>
				</p>
			<% end %>
		</div>
	</div>
	<div class="logo"><img src="/images/logo.png" alt="Med-Flow" /><br><br><br>
	© 2014 buffy inc. All rights reserved. Please click <a href="">here</a> for more medical information.<br><br>
	</div>
</div>
