<h1><%= @topic.title %></h1>
<h3>posted by: <%= @topic.user.username %></h3>
<br>
<p><%= @topic.body %></p>
<br>
<div class="action_bar">
  <ul class="actions">
    <li class="action">
      <% if @user %>
        <%=link_to image_tag("http://icons.iconarchive.com/icons/rokey/the-blacy/128/black-heart-icon.png", width: 30), {controller: "scores", action: "create", topic_id: @topic.id, score: {topic_id: @topic.id, user_id: @user.id}}, method: 'post'%>
      <% end %>
    </li>
    <li class="action"><%=@topic.scores.count%> &#x2764;'s</li>
    <% if @user == @topic.user %>
    <li class="action"><%= link_to 'Edit', edit_topic_path(@topic) %></li>
    <li class="action"><%= link_to "Delete", topic_path(@topic), method: :delete,
                                          data: { confirm: 'Are you sure?' }%> </li>
    <% end %>
    <li class="action"><%= render "tags/form" %></li>
    <li class="action"><%= render "tagations/form" %></li>
  </ul>
</div>

<h2>Comments</h2>
<br>
<% @topic.comments.each do |comment| %>
  <%= render partial: "comments/comment", locals: { comment: comment } %>
<% end %>

<%= render "comments/form" %>

<br><hr><br>
<% taglist = @topic.tags.dup %>
<% @topic.comments.each do |comment| %>
  <% taglist += comment.tags %>

<% end %>
  <ul class="taglist">
    <li class="tag">Tags: </li>
<% @taglist.each do |tag| %>
    <li class ="tag"> <%= link_to tag.subject, tag %> </li>
<% end %>
  </ul>

