<h1><%= @topic.title %></h1>
<h3>posted by: <%= @topic.user.username %></h3>
<br>
<p><%= @topic.body %></p>
<br>
<ul>
  <% if current_user == @topic.user %>
    <li><%= link_to 'Edit', edit_topic_path(@topic) %></li> 
    <li><%= link_to "Delete", topic_path(@topic), method: :delete,
                                            data: { confirm: 'Are you sure?' }%></li> 
  <% else %> 

    <%= link_to "Back", topics_path %>
  <% end %>
</ul>
<div class="addTag">
  <p><%= render "tags/form" %></p>
  <p><%= render "tagations/form" %></p>
</div>
<div class="clear"></div>

<h2>Comments</h2>
<br>
<% @topic.comments.each do |comment| %>
  <%= render partial: "comments/comment", locals: { comment: comment } %>
  <% if @user %>
    <%=link_to image_tag("http://icons.iconarchive.com/icons/rokey/the-blacy/128/black-heart-icon.png", width: 30), {controller: "comment_scores", action: "create", comment_id: comment.id, comment_score: {comment_id: comment.id, user_id: @user.id}}, method: 'post'%> 
  <% end %>
   </br>
  <%=comment.comment_scores.count%> &#x2764;'s
<% end %>

<%= render "comments/form" %>

<br><hr><br>
<% taglist = @topic.tags.dup %>
<% @topic.comments.each do |comment| %>
  <% taglist += comment.tags %>
<% end %>
  <ul class="taglist">
    <li class="tag">Tags: </li>
<% taglist.uniq.each do |tag| %>
  <% unless tag.id == nil %>
    <li class ="tag"> <%= link_to tag.subject, tag %> </li>
  <% end %>
<% end %>
  </ul>

