<h1><%= @topic.title %></h1>

<p><%= @topic.body %></p>

<%= link_to 'Edit', edit_topic_path(@topic) %><br>
<%= link_to "Delete", topic_path(@topic), method: :delete,
                                          data: { confirm: 'Are you sure?' }%><br>
<%= link_to "Back", topics_path %>

<div class="addTag">
  <p><%= render "tags/form" %></p>
</div>
<div class="clear"></div>

<h2>Comments</h2>

<% @topic.comments.each do |comment| %>
  <%= render partial: "comments/comment", locals: { comment: comment } %>
<% end %>

<h2>Add a comment:</h2>
<%= render "comments/form" %>

<br><hr><br>
<% taglist = @topic.tags.dup %>
<% @topic.comments.each do |comment| %>
  <% taglist += comment.tags %>
<% end %>
  <ul class="taglist">
    <li class="tag">Tags: </li>
<% taglist.uniq.each do |tag| %>
  <% unless tag.id == nil %>
    <li class ="tag"> <%= link_to tag.subject, tag %> </li>
  <% end %>
<% end %>
  </ul>
</p>
