<h1><%= @topic.title %></h1>

<p><%= @topic.body %></p>

<%= link_to 'Edit', edit_topic_path(@topic) %><br>
<%= link_to "Delete", topic_path(@topic), method: :delete,
                                          data: { confirm: 'Are you sure?' }%><br>
<%= link_to "Back", topics_path %>
<h2>Add a tag:</h2>
<%= render "tags/form" %>

<br><br><hr><br>


<h2>Comments</h2>
<%= render @topic.comments %>
<h2>Add a comment:</h2>
<%= render "comments/form" %>
<h2>Add a tag:</h2>
<%= render "tags/form" %>

<br><br><hr><br>

<h2>Tags</h2>
<% @topic.comments.each do |comment| %>
  <% @topic.tags += comment.tags %>
<% end %>
<p>
  <ul class="taglist">
<% @topic.tags.uniq.each do |tag| %>
  <% unless tag.id == nil %>
    <li class ="tag"> <%= link_to tag.subject, tag %></li>
  <% end %>
<% end %>
  </ul>
</p>
