<div class="container">
<h1><%= @topic.title %></h1>
<h3>posted by: <%= @topic.user.username %></h3>
<br>
<p><%= @topic.body %></p>
<br>
<% if @user %>
  <%=link_to image_tag("http://icons.iconarchive.com/icons/rokey/the-blacy/128/black-heart-icon.png", width: 30), {controller: "scores", action: "create", topic_id: @topic.id, score: {topic_id: @topic.id, user_id: @user.id}}, method: 'post'%>
<% end %>
</br>
<%=@topic.scores.count%> &#x2764;'s
<%= link_to 'Edit', edit_topic_path(@topic) %> 
<%= link_to "Delete", topic_path(@topic), method: :delete,
                                          data: { confirm: 'Are you sure?' }%> 
<%= link_to "Back", topics_path %>
</ul>
<div class="addTag">
  <p><%= render "tags/form" %></p>
  <p><%= render "tagations/form" %></p>
</div>
<div class="clear"></div>

<h2>Comments</h2>
<br>
<% @topic.comments.each do |comment| %>
  <%= render partial: "comments/comment", locals: { comment: comment } %>
<% end %>

<%= render "comments/form" %>

<br><hr><br>
<% taglist = @topic.tags.dup %>
<% @topic.comments.each do |comment| %>
  <% taglist += comment.tags %>
<% end %>
  <ul class="taglist">
    <li class="tag">Tags: </li>
<% taglist.uniq.each do |tag| %>
  <% unless tag.id == nil %>
    <li class ="tag"> <%= link_to tag.subject, tag %> </li>
  <% end %>
<% end %>
  </ul>
</div>

