<!DOCTYPE html>
<html>
<head>
  <title>PreventiveMeasures</title>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300|Inconsolata' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav>
    <h2>Med-Flow</h2>
    <ul>
      <%= render 'topics/search' %>
      <li><%= link_to 'Home', topics_path %></li>
      <li>Profile</li>
      <li><%= link_to 'Tags', tags_path %></li>
      <% if session[:user_id] %>
      <li> <%= link_to 'Logout', logout_path, method: :delete %></li>
      <% else %>
      <li><%= link_to 'Login', login_path %></li>
      <li> <%= link_to 'Signup', signup_path %></li>
      <% end %>
    </ul>
  </nav>
  <% if session[:user_id] %>
  <% @user = User.find(session[:user_id]) %>
    <h3>Hello <%= @user.username %>!</h3>
   <% end %>


<p><%= flash[:notice] %></p>

<%= yield %>

</body>
</html>
